.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 Stocks
      .col-sm-6
        %ol.breadcrumb.float-end
          %li.breadcrumb-item
            = link_to "Home", root_path
          %li.breadcrumb-item.active Stocks

.content
  .container-fluid
    .row
      .col-12
        .card.card-primary
          -# .card-header
            -# %h3.card-title Master Instruments
          .card-body
            .table-responsive
              %table.table.table-bordered.table-striped.table-hover
                %thead
                  %tr
                    %th No.
                    %th= sortable "name", "Name"
                    %th= sortable "exchange", "Exchange"
                    %th= sortable "exchange_token", "Exchange Token"
                    %th= sortable "ltp", "Last Traded Price"
                    %th= sortable "change_percent", "Changes %"
                %tbody
                  - if @master_instruments.any?
                    - @master_instruments.each.with_index do |master_instrument, index|
                      %tr
                        %td= index + 1
                        %td= master_instrument.name
                        %td= master_instrument.exchange
                        %td= master_instrument.exchange_token
                        %td= display_ltp(master_instrument)
                        %td= display_price_change(master_instrument)
                  - else
                    %tr
                      %td.text-center{colspan: 6}
                        %em No master instruments found
