%aside.app-sidebar.bg-body-secondary.shadow{"data-bs-theme" => "dark"}
  .sidebar-brand
    = link_to root_path, class: "brand-link" do
      %span.brand-text.fw-light Equity Trading
  .sidebar-wrapper
    %nav.mt-2
      / begin::Sidebar Menu
      %ul#navigation.nav.sidebar-menu.flex-column{"aria-label" => "Main navigation", "data-accordion" => "false", "data-lte-toggle" => "treeview", role: "navigation"}
        %li.nav-item
          = link_to root_path, class: "nav-link" do
            %i.nav-icon.bi.bi-speedometer
            %p Dashboard
        %li.nav-item
          = link_to api_configurations_path, class: 'nav-link' do
            %i.nav-icon.bi.bi-palette
            %p API Configuration
        %li.nav-item
          = link_to instruments_path(direction: :asc, sort: :name), class: 'nav-link' do
            %i.nav-icon.bi.bi-list-ul
            %p Stocks
        %li.nav-item
          = link_to holdings_path, class: 'nav-link' do
            %i.nav-icon.bi.bi-briefcase
            %p Holdings
        -# %li.nav-item
        -#   %a.nav-link{href: "#"}
        -#     %i.nav-icon.bi.bi-speedometer
        -#     %p
        -#       Dashboard
        -#       %i.nav-arrow.bi.bi-chevron-right
        -#   %ul.nav.nav-treeview
        -#     %li.nav-item
        -#       %a.nav-link{href: "../index.html"}
        -#         %i.nav-icon.bi.bi-circle
        -#         %p Dashboard v1
        -#     %li.nav-item
        -#       %a.nav-link{href: "../index2.html"}
        -#         %i.nav-icon.bi.bi-circle
        -#         %p Dashboard v2
        -#     %li.nav-item
        -#       %a.nav-link{href: "../index3.html"}
        -#         %i.nav-icon.bi.bi-circle
        -#         %p Dashboard v3

:javascript
  (function() {
    const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
    const Default = {
      scrollbarTheme: 'os-theme-light',
      scrollbarAutoHide: 'leave',
      scrollbarClickScroll: true,
    };

    function initSidebar() {
      const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);

      // Disable OverlayScrollbars on mobile devices to prevent touch interference
      const isMobile = window.innerWidth <= 992;

      if (
        sidebarWrapper &&
        OverlayScrollbarsGlobal?.OverlayScrollbars !== undefined &&
        !isMobile
      ) {
        OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
          scrollbars: {
            theme: Default.scrollbarTheme,
            autoHide: Default.scrollbarAutoHide,
            clickScroll: Default.scrollbarClickScroll,
          },
        });
      }
    }

    document.addEventListener('DOMContentLoaded', initSidebar);
    document.addEventListener('turbo:load', initSidebar);
  })();
